@import url("../assets/css/icons/icomoon/styles.css");
@import url("../assets/css/icons/fontawesome/styles.min.css");
@import url("../assets/css/bootstrap.css");
@import url("../assets/css/core.css");
@import url("../assets/css/components.css");
@import url("../assets/css/colors.css");
@import url("../css/app.css");